@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="panel-body">
        <div class="text-center">
            <form name="Miform" class="form-inline">
                <div class="form-group">
                    <h3> INGRESE NUMERO:
                    </h3>
                    <input type="texto" class="form-control " id="texto" onkeypress="return valideKey(event);">
                    <button type="button" class="btn btn-primary" onclick="genera_tabla()">Crear</button>
                </div>

            </form>


        </div>
    </div>


    <div id="main">
    </div>
    <div class="row">
        <div class="pull-right">
            <input type="texto" class="form-control text-center" id="Result" disabled>
        </div>
    </div>


    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script src="~/Scripts/PaginasJS/Tablas.js"></script>
